html, body {
	font-family: Arial, sans-serif;
}
#National {
	position: relative;
	width: 1440px;
	height: 1024px;
	background: #FFFFFF;
}
#divTittle {
	position: absolute;
	left: 16px;
	top: 160px;
	font-weight: bold;
	font-size:14px;
}
#divTop {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 16px;
	
	position: absolute;
	width: 1407.02px;
	height: 136px;
	left: 8px;
	top: 16px;
}
#divTopLeft {
	width: 994.02px;
	height: 136px;
	filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.1));
	display: flex;
	justify-content: space-around;
}
#divTopLeft > div {
	width: 236.5px;
	height: 136px;
	background: #FFFFFF;
	border-radius: 12px;
	box-sizing: border-box;
}
#divTopLeft > div > div:first-child > span {
	font-weight: 700;
	font-size: 14px;
	color: #FD2D6C;
}
span.weekly-stat {
	font-family: Arial, sans-serif;
	font-weight: 700;
	font-size: 48px;
}

#divTopRight {
	width: 397px;
	height: 136px;
	padding: 14px 10px;
	box-sizing: border-box;
	filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.1));
	background: #FFFFFF;
	border-radius: 8px;
	display: flex;
	justify-content: space-around;
	background:#cccccc;
}
#divTopRight > div {
	box-sizing: border-box;
	margin: 0px 5px;
	width: 178px;
}
#divTopRight > div > span {
	font-weight: 700;
	font-size: 14px;
	color: #FD2D6C;
}
#divTopRight > div > table{
	width: 100%;
}
#divTopRight > div > table td:last-child {
	text-align: right;
}
.switch {
	position: relative;
	display: inline-block;
	width: 26px;
	height: 16px;
}

.switch > input { 
	opacity: 0;
	width: 0;
	height: 0;
}

.switch > span {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #141414;
	border-radius: 34px;
	-webkit-transition: .4s;
	transition: .4s;
}

.switch > span:before {
	position: absolute;
	content: "";
	height: 13px;
	width: 13px;
	top: 1px;
	left: 3px;
	background-color: white;
	border-radius: 50%;
	-webkit-transition: .4s;
	transition: .4s;
}

.switch > input:checked + span {
	background-color: #FD2D6C;/*#2196F3;*/
}

.switch > input:focus + span {
	box-shadow: 0 0 1px #2196F3;
}

.switch > input:checked + span:before {
	-webkit-transform: translateX(8px);
	-ms-transform: translateX(8px);
	transform: translateX(8px);
}

/*================= nav left ==========================================*/
#NavLeft {
	position: absolute;
	width: 52px;
	height: 544px;
	left: 16px;
	top: calc(50% - 544px/2);
	background: #FFFFFF;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
	border-radius: 16px;
}

#NavLeft > div {
	position: absolute;
	margin: 0;
	width: 36px;
	left: 8px;
}
#NavLeft > div:nth-child(2) {
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
#NavLeft > div:first-child {
	top: 16px;
	left: 10px;
}
#NavLeft > div:last-child {
	bottom: 16px;
}
#NavLeft > div > img:hover {
	opacity: 0.5;
}

/*================= nav note ==========================================*/
#NavNote {
	position: absolute;
	width: 52px;
	right: 16px;
	top: 240px;
	background: #FFFFFF;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
	border-radius: 16px;
}
#NavNote > img {
	margin: 8px;
}
#NavNote > img:hover {
	opacity: 0.5;
}

/*================= nav note ==========================================*/
#NavLayer {
	position: absolute;
	width: 52px;
	height: 52px;
	padding: 8px;
	right: 16px;
	bottom: 240px;
	background: #FFFFFF;
	border-radius: 16px;
}
#NavLayer > img:hover {
	opacity: 0.5;
}

/*================= ChartBottom  =======================================*/
#ChartBottom {
	position: absolute;
	width: 1364px;
	height: 220px;
	left: 97px;/*47px;*/
	top: 788px;
	background: #ccc;
}
#ChartBottom > div.judul {
	-ms-transform: rotate(270deg); /* IE 9 */
	transform: rotate(270deg);
	position: absolute;
	top: 140px;
	left: -90px;
	text-align: center;
}
#ChartBottom > div.judul > p {
	font-size:14px;
}
#ChartBottom > div.judul > p:first-child {
	font-weight: bold;
}

/*================= map  ==============================================*/
#map {
	position: absolute;
	width: 1340px;
	height: 490px;
	left: 108px;
	top: 267px;
}
