html, body {
    height: 100%;
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background: #CBD2D3;
}
.mainCT {
	margin: 0;
	padding: 0;
	width: 100%;
    height: 100%;
    overflow: hidden;
}
#National {
	position: relative;
	width: 1440px;/*1440px;*/
	height: 1024px;
	background: #FFFFFF;
}
#divTittle {
	position: absolute;
	left: 16px;
	top: 160px;
	font-weight: bold;
	font-size:14px;
}
#divTop {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 16px;
	
	position: absolute;
	width: 1407.02px;
	height: 136px;
	left: 8px;
	top: 16px;
}
#divTopLeft {
	width: 994.02px;
	height: 136px;
	filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.1));
	display: flex;
	justify-content: space-around;
}
#divTopLeft > div {
	width: 236.5px;
	height: 136px;
	padding: 12px 16px;
	background: #FFFFFF;
	border-radius: 12px;
	box-sizing: border-box;
}
#divTopLeft > div > div:first-child > span {
	font-weight: 700;
	font-size: 14px;
	color: #FD2D6C;
}
span.weekly-stat {
	font-family: Arial, sans-serif;
	font-weight: 700;
	font-size: 48px;
}

#divTopRight {
	width: 397px;
	height: 136px;
	padding: 14px 10px;
	box-sizing: border-box;
	filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.1));
	background: #FFFFFF;
	border-radius: 8px;
	display: flex;
	justify-content: space-around;
}
#divTopRight > div {
	box-sizing: border-box;
	margin: 0px 5px;
	width: 178px;
}
#divTopRight > div > span {
	font-weight: 700;
	font-size: 14px;
	color: #FD2D6C;
}
#divTopRight > div > table{
	width: 100%;
}
#divTopRight > div > table td:last-child {
	text-align: right;
}
.switch {
	position: relative;
	display: inline-block;
	width: 26px;
	height: 16px;
}

.switch > input { 
	opacity: 0;
	width: 0;
	height: 0;
}

.switch > span {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #141414;
	border-radius: 34px;
	-webkit-transition: .4s;
	transition: .4s;
}

.switch > span:before {
	position: absolute;
	content: "";
	height: 13px;
	width: 13px;
	top: 1px;
	left: 3px;
	background-color: white;
	border-radius: 50%;
	-webkit-transition: .4s;
	transition: .4s;
}

.switch > input:checked + span {
	background-color: #FD2D6C;/*#2196F3;*/
}

.switch > input:focus + span {
	box-shadow: 0 0 1px #2196F3;
}

.switch > input:checked + span:before {
	-webkit-transform: translateX(8px);
	-ms-transform: translateX(8px);
	transform: translateX(8px);
}

/*================= nav left ==========================================*/
#NavLeft {
	position: absolute;
	width: 52px;
	height: 544px;
	left: 16px;
	top: calc(50% - 544px/2);
	background: #FFFFFF;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
	border-radius: 16px;
}

#NavLeft > div {
	position: absolute;
	margin: 0;
	width: 36px;
	left: 8px;
}
#NavLeft > div:nth-child(2) {
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
#NavLeft > div:first-child {
	top: 16px;
	left: 10px;
}
#NavLeft > div:last-child {
	bottom: 16px;
}
#NavLeft > div > img:hover {
	opacity: 0.5;
}
#NavLeft > div > img.btn1 {
	background-color: #515151;
	border-radius: 8px;
}
#NavLeft > div > img.checked {
	background-color: #FD2D6C;
	border-radius: 8px;
}

/*================= nav note ==========================================*/
#NavNote {
	position: absolute;
	width: 52px;
	right: 16px;
	top: 240px;
	background: #FFFFFF;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
	border-radius: 16px;
}
#NavNote > img {
	margin: 8px;
}
#NavNote > img:hover {
	opacity: 0.5;
}

/*================= nav note ==========================================*/
#NavLayer {
	position: absolute;
	width: 52px;
	height: 52px;
	padding: 0;
	right: 16px;
	bottom: 240px;
	background: #FFFFFF;
	border-radius: 16px;
}
#NavLayer > img:hover {
	opacity: 0.5;
}

#NavZoomOut {
	position: absolute;
	padding: 8px 12px;
	right: 84px;
	bottom: 240px;
	background: #FFFFFF;
	border-radius: 16px;
}
#NavZoomOut > img:hover {
	opacity: 0.5;
}

/*================= Legend Performance==================================*/
#LegendPerformance {
	position: absolute;
	left: 106px;
	top: 746px;
	padding: 8px 16px;
	background: rgba(255, 255, 255, 0.4);
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}
#LegendPerformance > span {
	display: inline-block;
	border-radius: 4px;
	padding: 0px 32px 0px 4px;
}
#LegendPerformance > span:last-child {
	padding-right: 4px;
}
#LegendPerformance > span.color1 {
	width: 16px;
	height: 16px;
	padding: 0px;
	background: #5788FE;
}
#LegendPerformance > span.color2 {
	background: #21A7A7;
}
#LegendPerformance > span.color3 {
	background: #FBC246;
}
#LegendPerformance > span.color4 {
	background: #FF7B6A;
}
#LegendPerformance > span.color5 {
	background: #FD2D6C;
}

/*================= ChartBottom  =======================================*/
#ChartBottom {
	position: absolute;
	width: 1364px;
	height: 224px;
	left: 47px;
	top: 788px;
}

#ChartBottomLastUpdate {
	position: absolute;
	right: 1px;
	top: 8px;
	margin: 0;
	padding: 0;
}
#ChartBottomLastUpdate > span {
	display: inline-block;
	margin: 0px 4px 28px 20px;
	padding: 8px;
	vertical-align: middle;
	background: rgba(0, 0, 0, 0.6);
	border-radius: 4px;
	color: #FFFFFF;
}

/*================= slider ============================================*/
#slideContainer {
	display: inline-block;
	width: 48px;
	margin: 0;
	padding: 0;
}

#slideContainer > input {
	-webkit-appearance: none;
	width: 100%;
	height: 16px;
	background: rgba(0, 0, 0, 0.6);/*#d3d3d3;*/
	border-radius: 8px;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

#slideContainer > input:hover {
	opacity: 1;
}

#slideContainer > input::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 16px;
	height: 16px;
	background: #04CC6D;
	border-radius: 8px;
	cursor: pointer;
}

#slideContainer > input::-moz-range-thumb {
	width: 16px;
	height: 16px;
	background: #04CC6D;
	border-radius: 8px;
	cursor: pointer;
}

/*================= map  ==============================================*/
#map {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;/*1440px;*/
	height: 1024px;
	/*width: 1340px;*/
	/*height: 490px;*/
	/*left: 108px;*/
	/*top: 267px;*/
}
