html, body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background: #CBD2D3;
}
#National {
	position: fixed;
	width: 100%;/*1440px;*/
	/*height: 1024px;*/
	background: #FFFFFF;
}
#divTittle {
	position: fixed;
	left: 16px;
	top: 18vh;
	font-weight: bold;
	font-size:14px;
}
#divTop {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 16px;
	
	position: fixed;
	top: 1vh;
	left: 8px;
	right: 8px;
	/*height: 10vh;*/
}
#divTopLeft {
	width: 994.02px;
	/*height: 15vh;*/
	filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.1));
	display: flex;
	justify-content: space-around;
}
#divTopLeft > div {
	width: 236.5px;
	height: 16vh;
	padding: 8px 16px;
	background: #FFFFFF;
	border-radius: 12px;
	box-sizing: border-box;
}
#divTopLeft > div > div{
	margin: 0;
	padding: 0;
}
#divTopLeft > div > div > h4 {
	margin: 0;
	padding: 0;
	color: #FD2D6C;
}
#divTopLeft > div > div > span {
	margin: 0;
	padding: 0;
}
#divTopLeft > div > div > h1 {
	margin: 0;
	padding: 0;
	font-size: 2.6vw;
}

#divTopRight {
	width: 397px;
	height: 16vh;
	padding: 8px 10px 4px 10px;
	box-sizing: border-box;
	filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.1));
	background: #FFFFFF;
	border-radius: 8px;
	display: flex;
	justify-content: space-around;
}
#divTopRight > div {
	box-sizing: border-box;
	margin: 0px 5px;
	width: 178px;
}
#divTopRight > div > h4 {
	color: #FD2D6C;
	margin: 0;
	padding: 0;
}
#divTopRight > div > table{
	margin: 0;
	padding: 0;
	width: 100%;
}
#divTopRight > div > table td {
	margin: 0;
	padding: 0;
}
#divTopRight > div > table td:last-child {
	text-align: right;
}
.switch {
	position: relative;
	display: inline-block;
	width: 26px;
	height: 16px;
}

.switch > input { 
	opacity: 0;
	width: 0;
	height: 0;
}

.switch > span {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #141414;
	border-radius: 34px;
	-webkit-transition: .4s;
	transition: .4s;
}

.switch > span:before {
	position: absolute;
	content: "";
	height: 13px;
	width: 13px;
	top: 1px;
	left: 3px;
	background-color: white;
	border-radius: 50%;
	-webkit-transition: .4s;
	transition: .4s;
}

.switch > input:checked + span {
	background-color: #FD2D6C;/*#2196F3;*/
}

.switch > input:focus + span {
	box-shadow: 0 0 1px #2196F3;
}

.switch > input:checked + span:before {
	-webkit-transform: translateX(8px);
	-ms-transform: translateX(8px);
	transform: translateX(8px);
}

/*================= nav left ==========================================*/
#NavLeft {
	position: fixed;
	top: 25vh;/*calc(50% - 544px/2);*/
	bottom: 16vh;
	left: 16px;
	width: 52px;
	/*height: 544px;*/
	background: #FFFFFF;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
	border-radius: 16px;
}

#NavLeft > div {
	position: absolute;
	margin: 0;
	width: 36px;
	left: 8px;
}
#NavLeft > div:nth-child(2) {
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
#NavLeft > div:first-child {
	top: 16px;
	left: 10px;
}
#NavLeft > div:last-child {
	bottom: 16px;
}
#NavLeft > div > img:hover {
	opacity: 0.5;
}
#NavLeft > div > img.btn1 {
	background-color: #515151;
	border-radius: 8px;
}
#NavLeft > div > img.checked {
	background-color: #FD2D6C;
	border-radius: 8px;
}

/*================= nav note ==========================================*/
#NavNote {
	position: absolute;
	width: 52px;
	right: 20px;/*16px;*/
	top: 20vh;
	background: #FFFFFF;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
	border-radius: 16px;
}
#NavNote > img {
	margin: 8px;
}
#NavNote > img:hover {
	opacity: 0.5;
}

/*================= nav note ==========================================*/
#NavLayer {
	position: fixed;
	padding: 0;
	right: 20px;/*16px;*/
	bottom: 17vh;
	background: #FFFFFF;
	border-radius: 16px;
}
#NavLayer > img:hover {
	opacity: 0.5;
}

#NavZoom {
	position: fixed;
	padding: 8px;
	right: 80px;/*16px;*/
	bottom: 17vh;
	background: #FFFFFF;
	border-radius: 16px;
}
#NavZoom > img:hover {
	opacity: 0.5;
}

/*================= Legend Performance==================================*/
#LegendPerformance {
	position: fixed;
	left: 106px;
	bottom: 17vh;
	padding: 8px;
	background: rgba(255, 255, 255, 0.4);
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}
#LegendPerformance > span {
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0px 32px 0px 4px;
	border-radius: 4px;
}
#LegendPerformance > span:last-child {
	padding-right: 4px;
}
#LegendPerformance > span.color1 {
	width: 16px;
	height: 16px;
	padding: 0px;
	background: #5788FE;
}
#LegendPerformance > span.color2 {
	background: #21A7A7;
}
#LegendPerformance > span.color3 {
	background: #FBC246;
}
#LegendPerformance > span.color4 {
	background: #FF7B6A;
}
#LegendPerformance > span.color5 {
	background: #FD2D6C;
}

/*================= ChartBottom  =======================================*/
#ChartBottom {
	position: fixed;
	/*width: 1364px;*/
	height: 16vh;
	bottom: 1px;
	left: 100px;/*47px;*/
	right: 30px;
	/*top: 788px;*/
}
#ChartBottom > div:first-child {
	height: 16vh;
	margin: 0;
	margin-right: 200px;
	padding: 0;
}
#ChartBottom > div.judul {
	-ms-transform: rotate(270deg); /* IE 9 */
	transform: rotate(270deg);
	position: absolute;
	top: 30px;
	left: -70px;
	text-align: center;
}
#ChartBottom > div.judul > p {
	font-size:14px;
	margin: 0;
	padding: 0;
}
#ChartBottom > div.judul > p:first-child {
	font-weight: bold;
}

#ChartBottomLastUpdate {
	position: absolute;
	right: 8px;
	top: 38px;
	padding: 8px;
	background: rgba(0, 0, 0, 0.6);
	border-radius: 4px;
	color: #FFFFFF;
}

/*================= slider ============================================*/
#slideContainer {
	position: absolute;
	right: 200px;
	top: 38px;
	width: 48px;
}

#slideContainer > input {
	-webkit-appearance: none;
	width: 100%;
	height: 16px;
	background: #f0f0f0;
	border-radius: 8px;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

#slideContainer > input:hover {
	opacity: 1;
}

#slideContainer > input::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 16px;
	height: 16px;
	background: #04AA6D;
	border-radius: 8px;
	cursor: pointer;
}

#slideContainer > input::-moz-range-thumb {
	width: 16px;
	height: 16px;
	background: #04AA6D;
	border-radius: 8px;
	cursor: pointer;
}

/*================= map  ==============================================*/
#map {
	position: fixed;
	top: 17vh;
	bottom: 16vh;
	left: 2px;
	right: 2px;
	/*/width: 100%;*//*1440px;*/
	/*height: 1024px;*/
	/*width: 1340px;*/
	/*height: 490px;*/
	/*left: 108px;*/
	/*top: 267px;*/
}
