@font-face {
  font-family: 'FontAwesome';
  src: url('fontawesome.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 14px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
  font-size: 3em;
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.fa-barcode:before { content: "\f02a"; }
.fa-book:before { content: "\f02d"; }
.fa-cart-arrow-down:before { content: "\f218"; }
.fa-cart-plus:before { content: "\f217"; }
.fa-check-square:before { content: "\f14a"; }
.fa-check-square-o:before { content: "\f046"; }
.fa-cube:before { content: "\f1b2"; }
.fa-cubes:before { content: "\f1b3"; }
.fa-database:before { content: "\f1c0"; }
.fa-edit:before { content: "\f044"; }
.fa-file-text-o:before { content: "\f0f6"; }
.fa-flask:before { content: "\f0c3"; }
.fa-home:before { content: "\f015"; }
.fa-industry:before { content: "\f275"; }
.fa-plus-square:before { content: "\f0fe"; }
.fa-remove:before { content: "\f00d"; }
.fa-save:before { content: "\f0c7"; }
.fa-search:before { content: "\f002"; }
.fa-spinner:before { content: "\f110"; }
.fa-trash:before { content: "\f1f8"; }
.fa-trash-o:before { content: "\f014"; }
.fa-truck:before { content: "\f0d1"; }
.fa-user:before { content: "\f007"; }
.fa-user-circle-o:before { content: "\f2be"; }
.fa-users:before { content: "\f0c0"; }

* {
	box-sizing: border-box;
	font-family: sans-serif;
}

#headerCT {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	background: #4CAF50;
	color: white;
	/*font-family: 'Courier New', monospace;/*Helvetica, sans-serif;*/
	display: flex;
	justify-content: center;
	align-items: center;
}

#headerCT > img {
	position: absolute;
	left: 16px;
	top: 12px;
	width: 24px;
	height: 24px;
	cursor: pointer;
}

#mainCT {
	margin: 0;
	margin-top: 50px;
	padding: 8px;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery canvas {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  background: #c0c0c0;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.sidepanel  {
  width: 250px;
  position: relative;
  z-index: 1;
  /*height: 250px;*/
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 30px 0 10px 0;
}
.sidepanel > div:first-child {
	
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: white;
  display: block;
  transition: 0.3s;
  margin: 2px 16px;
  background-color: #4CAF50;
  border-radius: 8px;
}
.sidepanel a:hover {
  background-color: #4CCF50;
}

.sidepanel .closebtn {
	display: none;
  position: absolute;
  top: -10px;
  right: 0;
  font-size: 36px;
  background-color: white;
  color: #313131;
}
.sidepanel .closebtn:hover {
  background-color: white;
}

.sidepanel.menua, div.menub, div.menuc {
  font-family: sans-serif;
  font-size: 16px;
  cursor: default;
  white-space: nowrap;
  background-color: #4CAF50;
  color: #F0F0F0;
  margin: 0px 1px 4px 1px;
  padding: 0;
  border: none;
  border-radius: 8px;
}
.sidepanel.menua a {
  text-decoration: none;
  color: #F0F0F0;
  cursor: default;
}
.sidepanel div.menub, div.menuc {
  margin-bottom: 2px;
  padding: 14px 0px 14px 10px;
}
div.menuc {
  background-color: #5CBF60;
  padding-left: 20px;
  display: none;
}
div.menub:hover, div.menuc:hover {
  color: #FFFFFF;
  display:block;
}
div.menud > div.menuc {
  display:block;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color:#444;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
	.sidepanel .closebtn {
	display: block;
	}
.sidepanel  {
  width: 0;
  position: fixed;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
	.sidepanel .closebtn {
	display: block;
	}
.sidepanel  {
  width: 0;
  position: fixed;
  }
}

